<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace= "/fragments/head :: head" > </head>
    <body>
        <nav th:replace="/fragments/navbar :: nav" ></nav>

        <div class="container contenedorLibros">
            <p class="" th:if="${session.usuariosession != null}" th:text=" 'Hola de vuelta '+ ${session.usuariosession.nombre} "></p>
        </div>

        <h1>Inicio Noticias de hoy</h1>      

        <div class="row mt-5 g-2">
            <div class="col-3 " th:each="noticia : ${noticias}">
                <div  class="card" style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${noticia.titulo}"></h5>
                        <p class="card-text" th:text="${noticia.cuerpo}" ></p>
                        <a th:href="@{/noticia/vista/{id}(id=${noticia.idNoticia})}" class="btn btn-primary">Ver Noticia</a>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="text-muted py-5">
            <div class="containerFooter">
                <p class="mb-1">Album example is &copy; Bootstrap,<br>but please download and customize it for yourself!</p>
                <p class="mb-0">New to Bootstrap? <a href="/"><br>Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
                <p class="float-end mb-1">
                    <a href="#" style="text-decoration:none"><span>⬆️</span> Back to top</a>
                </p>
            </div>
        </footer>



        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </body>
</html>
