<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.usuariosession == null}" href="/login" role="button">Iniciar sesión</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        No tenes una cuenta? Registrate!
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/registrarUsuario}">Registrarme como usuario</a></li>
                        <li><a class="dropdown-item" th:href="@{/registrarPeriodista}">Registrarme como periodista</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menú
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/noticia/registrar}">Crear Noticia</a></li>
                        <li><a class="dropdown-item" th:href="@{/noticia/misNoticias/${noticia.periodista.id}}">Listar Mis Noticias</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/perfil}">Ir al perfil</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
